<p id="notice"><%= notice %></p>
<div class="container">
  <%= link_to root_path do %>
    <h1 class="title">Project Octothorpe</h1>

    <% end %>
    <h2 class="title">Influencer Stat-form</h2>
</div>

<%= link_to "Update Numbers", "/update", :method => :post %>

<section class="hero">
  <div class="hero-body" style="padding: 3rem 0;">
    <div class="container">
      <h1 class="">
        <%= link_to 'New Influencer', new_influencer_path %>
        <div class="control has-icons-left has-icons-right">
          <%= search_form_for @search do |f| %>
            <%= f.search_field :first_name_or_last_name_or_company_cont, class: 'input is-large', placeholder: 'Search' %>
              <span class="icon is-medium is-left">
                <i class="fa fa-search"></i>
              </span>

              <span class="icon is-medium is-right">
                <i class="fa fa-check"></i>
              </span>
          <% end %>
        </div>
      </h1>
    </div>
  </div>
</section>




<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th style="text-align: left !important;">Company</th>
      <!-- <th>Facebook</th> -->
      <th style="text-align: right !important;">Instagram</th>
      <th style="text-align: right !important;">Twitter</th>
      <th style="text-align: right !important;">Youtube</th>
      <th style="text-align: right !important;">Total</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="align-right"><b>Our Total Reach:</b><%= number_with_delimiter(@count, delimiter: ',') %><b></td>
      <td></td>

    </tr>
  </tfoot>

  <tbody>
    <% @influencers.each do |influencer| %>
      <tr>
        <td><%= "#{influencer.first_name} #{influencer.last_name}" %></td>
        <td class="align-left"><%= influencer.company %></td>
        <!-- <td class="align-right"><%#= number_with_delimiter(Influencer.get_facebook_numbers(influencer.facebook), :delimiter => ',') %></td> -->
        <td class="align-right"><%= number_with_delimiter(influencer.ig, delimiter: ',')  %></td>
        <td class="align-right"><%= number_with_delimiter(influencer.tw, delimiter: ',')  %></td>
        <td class="align-right"><%= number_with_delimiter(influencer.yt, delimiter: ',') %></td>

        <td class="align-right">
          <%= number_with_delimiter((influencer.ig.to_i + influencer.tw.to_i + influencer.yt.to_i), :delimiter => ',') %>
        </td>
        <td><%= link_to 'Info', influencer, class: " " %></td>
        <td><%= link_to 'Edit', edit_influencer_path(influencer) %></td>
        <td><%= link_to 'Delete', influencer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @influencers %>
<%= link_to 'New Influencer', new_influencer_path %>
<br>
