<p id="notice">
  <%= notice %>
</p>
<div class="container">
  <%= link_to root_path do %>
    <h1 class="title">INFLUENCERS</h1>
  <% end %>
</div>

<section class="hero">
  <div class="hero-body" style="padding: 3rem 0;">
    <div class="container">
      <h1 class="">
        <div class="control has-icons-left has-icons-right">
          <%= form_tag search_influencer_influencers_path, method: 'get' do %>
            <%= text_field_tag :search, params[:search], class: 'input is-large', placeholder: 'Search' %>
              <span class="icon is-medium is-left">
            <i class="fa fa-search"></i>
          </span>
              <span class="icon is-medium is-right">
            <i class="fa fa-check"></i>
          </span>
              <% end %>
        </div>
      </h1>
    </div>
  </div>
</section>



<table class="table is-striped">
  <thead>
    <tr>
      <th>Full name</th>
      <!-- <th>Facebook</th> -->
      <th style="text-align: right !important;">Instagram</th>
      <th style="text-align: right !important;">Twitter</th>
      <th style="text-align: right !important;">Youtube</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search.each do |influencer| %>
      <tr>
        <td>
          <%= "#{influencer.first_name} #{influencer.last_name}" %>
        </td>
        <!-- <td class="align-right"><%#= number_with_delimiter(Influencer.get_facebook_numbers(influencer.facebook), :delimiter => ',') %></td> -->
        <td class="align-right">
          <%= number_with_delimiter(Influencer.get_instagram_numbers(influencer.instagram), :delimiter => ',')  %>
        </td>
        <td class="align-right">
          <%= number_with_delimiter(Influencer.get_twitter_numbers(influencer.twitter), :delimiter => ',')  %>
        </td>
        <td class="align-right">
          <%= number_with_delimiter(Influencer.get_youtube_numbers(influencer.youtube), :delimiter => ',') %>
        </td>
        <td>
          <%= link_to 'Show', influencer %>
        </td>
        <td>
          <%= link_to 'Edit', edit_influencer_path(influencer) %>
        </td>
        <td>
          <%= link_to 'Destroy', influencer, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Influencer', new_influencer_path %>